# You can override the included template(s) by including variable overrides
# SAST customization: https://docs.gitlab.com/ee/user/application_security/sast/#customizing-the-sast-settings
# Secret Detection customization: https://docs.gitlab.com/ee/user/application_security/secret_detection/#customizing-settings
# Dependency Scanning customization: https://docs.gitlab.com/ee/user/application_security/dependency_scanning/#customizing-the-dependency-scanning-settings
# Container Scanning customization: https://docs.gitlab.com/ee/user/application_security/container_scanning/#customizing-the-container-scanning-settings
# Note that environment variables can be set in several places
# See https://docs.gitlab.com/ee/ci/variables/#cicd-variable-precedence

.common_script: &common_script
  - apt-get update && apt-get install -y libgl1-mesa-glx libxkbcommon-x11-0 libegl1 libdbus-1-3
  - curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
  - source $HOME/.cargo/env
  - cd rust
  - cargo build --release
  - cd ..

stages:
  - test
  - test_security
  - test_python_versions
  - build

sast:
  stage: test_security
include:
  - template: Jobs/SAST.gitlab-ci.yml
  - template: Jobs/Secret-Detection.gitlab-ci.yml
  - template: Jobs/Dependency-Scanning.gitlab-ci.yml
  - template: Jobs/Container-Scanning.gitlab-ci.yml

container_scanning:
  variables:
    CS_IMAGE: python:3.11-bullseye

test_python311:
  stage: test
  image:
    name: python:3.11-bullseye
    entrypoint: [ '/bin/bash', '-c', 'ln -snf /bin/bash /bin/sh && /bin/bash -c $0' ]
  script:
    - *common_script
    - pip install -e .[opt]
    - pip install pytest
    - python -m pytest python/tests
  coverage: '/TOTAL.+ ([0-9]{1,3}%)/'
  rules:
    - if: '$CI_COMMIT_BRANCH == "nightly"'

test_coverage:
  stage: test
  image:
    name: python:3.11-bookworm
    entrypoint: [ '/bin/bash', '-c', 'ln -snf /bin/bash /bin/sh && /bin/bash -c $0' ]
  script:
    - *common_script
    - pip install -e .[opt]
    - pip install coverage pytest
    - coverage run
    - coverage report -m
  coverage: '/TOTAL.+ ([0-9]{1,3}%)/'
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    - if: '$CI_COMMIT_BRANCH == "develop"'
    - if: '$CI_COMMIT_BRANCH == "main"'

python_versions:
  stage: test_python_versions
  image:
    name: $IMAGE
    entrypoint: [ '/bin/bash', '-c', 'ln -snf /bin/bash /bin/sh && /bin/bash -c $0' ]
  script:
    - *common_script
    - if [ "$IMAGE" = "python:3.10-bullseye" ]; then pip install 'PyQt6<6.10'; fi
    - pip install -e .
    - pip install pytest scipy
    - python -m pytest python/tests
  parallel:
    matrix:
      - IMAGE: [python:3.13-bookworm, python:3.12-bookworm, python:3.10-bullseye]
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    - if: '$CI_COMMIT_BRANCH == "develop"'
    - if: '$CI_COMMIT_BRANCH == "main"'


build_linux_wheels:
  stage: test
  image:
    name: docker:27.4.1-dind
    entrypoint: ["/bin/sh", "-c"]

  variables:
    # local dockerd in this container
    DOCKER_TLS_CERTDIR: ""
    # allow pip to modify the system Python inside this *ephemeral* CI container
    PIP_BREAK_SYSTEM_PACKAGES: "1"

  script:
    # 1) Start Docker daemon inside this container
    - dockerd-entrypoint.sh >/tmp/dockerd.log 2>&1 &
    - |
      echo "Waiting for dockerd to be ready..."
      for i in $(seq 1 60); do
        if docker info >/dev/null 2>&1; then
          echo "dockerd is up."
          break
        fi
        sleep 1
      done
      docker info >/dev/null 2>&1 || { echo "dockerd failed to start"; exit 1; }

    # 2) Install Python + tooling (Alpine)
    - apk add --no-cache python3 py3-pip py3-setuptools py3-wheel bash curl git

    # 3) Install cibuildwheel (PEP 668 is bypassed by PIP_BREAK_SYSTEM_PACKAGES=1)
    - python3 -m pip install --upgrade pip
    - python3 -m pip install cibuildwheel

    # 4) Build your manylinux + musllinux x86_64 wheels
    - python3 -m cibuildwheel --output-dir wheelhouse
  artifacts:
    paths:
      - wheelhouse/*.whl
  rules:
    - if: '$CI_COMMIT_BRANCH == "develop"'
